<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="shared/header :: header-css"/>

    <title>Lista Wnioskow</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('adminAkceptujWnioski')"/>


<div id="main" class="card-body">


    <H1>LISTA WNIOSKOW</H1>
    <H3>Dodanie nowego kierunku</H3>

    <!--Dodanie nowgo kierunku-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>DataUtworzenia</th>
            <th>Liczba miejsc</th>
            <th>Opis</th>
            <th>Status</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Opcje</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="kierunki : ${kierunki}">

            <td th:text="${kierunki.name}"></td>
            <td th:text="${#dates.format(kierunki.createdDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${kierunki.liczbaMiejsc}"></td>
            <td th:text="${kierunki.opis}"></td>
            <td class="text-danger">Oczekuje akceptacji</td>

            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="btn btn-success" th:href="@{akceptujKierunek.html(id=${kierunki.id})}">Akceptuj</a>
                <a class="btn btn-danger" th:href="@{odrzucKierunek.html(id=${kierunki.id})}">Odrzuc</a>
            </td>
        </tr>

        </tbody>
    </table><br>
    <hr>

    <!--Usuniecie kierunku-->
    <H3>Usuniecie kierunku</H3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>DataUtworzenia</th>
            <th>Liczba miejsc</th>
            <th>Powód usuniecia</th>
            <th>Status</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Opcje</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="delK : ${deleteKierunki}">

            <td th:text="${delK.name}"></td>
            <td th:text="${#dates.format(delK.createdDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${delK.liczbaMiejsc}"></td>
            <td th:text="${delK.opis}"></td>
            <td class="text-danger">Oczekuje akceptacji</td>

            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="btn btn-success" th:href="@{deleteKierunek.html(id=${delK.id})}">Akceptuj</a>
                <a class="btn btn-danger" th:href="@{nieUsuwajKierunek.html(id=${delK.id})}">Odrzuc</a>
            </td>

        </tr>

        </tbody>
    </table><br>
    <hr>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>