<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="shared/header :: header-css"/>

    <title>Lista Wnioskow</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('dziekanatAkceptujWnioski')"/>

<div id="main" class="card-body">

    <H1>LISTA WNIOSKOW</H1>
    <H3>Rekrutacje na kierunki</H3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Kierunek</th>
            <th>DataUtworzenia</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Średnia ucznia</th>
            <th>Nazwa poprzedniej szkoły</th>
            <th>Status</th>
            <th sec:authorize="hasRole('ROLE_DZIEKANAT')">Opcje</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="kierunekpodanie : ${kierunekpodanie}">
            <td th:text="${kierunekpodanie.id}"></td>
            <td th:text="${kierunekpodanie.nazwaKierunku}"></td>
            <td th:text="${#dates.format(kierunekpodanie.createdDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${kierunekpodanie.name}"></td>
            <td th:text="${kierunekpodanie.surname}"></td>
            <td th:text="${kierunekpodanie.avg}"></td>
            <td th:text="${kierunekpodanie.schoolName}"></td>
            <td th:text="${kierunekpodanie.status}"></td>
            <td class="text-danger">Oczekuje akceptacji</td>

            <td sec:authorize="hasRole('ROLE_DZIEKANAT')">
                <a class="btn btn-success" th:href="@{akceptujRekrutacja.html(id=${kierunekpodanie.id})}">Akceptuj</a>
                <a class="btn btn-danger" th:href="@{odrzucRekrutacja.html(id=${kierunekpodanie.id})}">Odrzuc</a>
            </td>

        </tr>

        </tbody>
    </table><br>
    <br><br>
\
    <H3>Rekrutacje na Specjalności</H3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Specjalność</th>
            <th>Data Utworzenia</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Status</th>
            <th sec:authorize="hasRole('ROLE_DZIEKANAT')">Opcje</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="podanieSpecjalnosci : ${podanieSpecjalnosci}">
            <td th:text="${podanieSpecjalnosci.id}"></td>
            <td th:text="${podanieSpecjalnosci.nazwaSpecjalnosci}"></td>
            <td th:text="${#dates.format(podanieSpecjalnosci.createdDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${podanieSpecjalnosci.name}"></td>
            <td th:text="${podanieSpecjalnosci.surname}"></td>
            <td th:text="${podanieSpecjalnosci.status}"></td>
            <td class="text-danger">Oczekuje akceptacji</td>

            <td sec:authorize="hasRole('ROLE_DZIEKANAT')"><a th:href="@{akceptujSpecjalnosci.html(id=${podanieSpecjalnosci.id})}">Akceptuj</a>
                <a th:href="@{odrzucSpecjalnosci.html(id=${podanieSpecjalnosci.id})}">Odrzuć</a></td>

        </tr>

        </tbody>
    </table><br>

    <H3>Ubezpieczenia</H3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa ubezpieczenia</th>
            <th>Cena</th>
            <th>Data Utworzenia</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Status</th>
            <th sec:authorize="hasRole('ROLE_DZIEKANAT')">Opcje</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="podanieUbezpieczenie : ${podanieUbezpieczenie}">
            <td th:text="${podanieUbezpieczenie.id}"></td>
            <td th:text="${podanieUbezpieczenie.nazwaUbezpieczenia}"></td>
            <td th:text="${podanieUbezpieczenie.price}"></td>
            <td th:text="${#dates.format(podanieUbezpieczenie.createdDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${podanieUbezpieczenie.name}"></td>
            <td th:text="${podanieUbezpieczenie.surname}"></td>
            <td th:text="${podanieUbezpieczenie.status}"></td>
            <td class="text-danger">Oczekuje akceptacji</td>

            <td sec:authorize="hasRole('ROLE_DZIEKANAT')"><a th:href="@{akceptujUbezpieczenie.html(id=${podanieUbezpieczenie.id})}">Akceptuj</a>
                <a th:href="@{odrzucUbezpieczenie.html(id=${podanieUbezpieczenie.id})}">Odrzuć</a></td>

        </tr>

        </tbody>
    </table><br>

    <H3>Stypendia</H3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa stypendia</th>
            <th>ID usera</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Średnia studenta</th>
            <td>Powód ubiegania się o stypendium</td>
            <th>Data Utworzenia</th>

            <th>Status</th>
            <th sec:authorize="hasRole('ROLE_DZIEKANAT')">Opcje</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="st: ${stypendiumPodanie}">
            <td th:text="${st.id}"></td>
            <td th:text="${st.nazwaStypendium}"></td>
            <td th:text="${st.idUser}"></td>
            <td th:text="${st.name}"></td>
            <td th:text="${st.surname}"></td>
            <td th:text="${st.avg}"></td>
            <th th:text="${st.opis}"></th>
            <td th:text="${#dates.format(st.createdDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${st.status}"></td>

            <td class="text-danger">Oczekuje akceptacji</td>

            <td sec:authorize="hasRole('ROLE_DZIEKANAT')"><a th:href="@{akceptujStypendia.html(id=${st.id})}">Akceptuj</a></td>
            <td sec:authorize="hasRole('ROLE_DZIEKANAT')"><a th:href="@{odrzucStypendia.html(id=${st.id})}">Odrzuc</a></td>
        </tr>

        </tbody>
    </table>

    <H3>Zmiana danych osobowych</H3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Data Utworzenia</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>E-mail</th>
            <th>Status</th>
            <th sec:authorize="hasRole('ROLE_DZIEKANAT')">Opcje</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="podanieUser : ${podanieUser}">
            <td th:text="${podanieUser.id}"></td>
            <td th:text="${#dates.format(podanieUser.createdDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${podanieUser.name}"></td>
            <td th:text="${podanieUser.surname}"></td>
            <td th:text="${podanieUser.email}"></td>
            <td th:text="${podanieUser.status}"></td>
            <td class="text-danger">Oczekuje akceptacji</td>

            <td sec:authorize="hasRole('ROLE_DZIEKANAT')"><a th:href="@{akceptujUser.html(id=${podanieUser.id})}">Akceptuj</a>
                <a th:href="@{odrzucUser.html(id=${podanieUser.id})}">Odrzuć</a></td>

        </tr>

        </tbody>
    </table><br>
    <hr>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>