<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="shared/header :: header-css"/>

    <title>Strona domowa</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('kierunkiList')"/>


<div id="main" class="card-body">


    <H1>LISTA KIERUNKOW</H1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>DataUtworzenia</th>
                <th>Liczba miejsc</th>
                <th>Opis</th>
                <th sec:authorize="hasRole('ROLE_USER')">Opcje</th>
                <th sec:authorize="hasRole('ROLE_DZIEKANAT')">Opcje</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="kierunki : ${kierunki}">

                <td th:text="${kierunki.name}"></td>
                <td th:text="${#dates.format(kierunki.createdDate, 'dd-MM-yyyy')}"></td>
                <td th:text="${kierunki.liczbaMiejsc}"></td>
                <td th:text="${kierunki.opis}"></td>


                <td sec:authorize="hasRole('ROLE_USER')"><a th:href="@{kierunkiForm.html(id=${kierunki.id})}">Zapis</a></td>
                <td sec:authorize="hasRole('ROLE_DZIEKANAT')"><a th:href="@{usunKierunek.html(id=${kierunki.id})}">Usuń</a></td>

            </tr>
            </tbody>
        </table>

</div>
<button class="btn-success" sec:authorize="hasRole('ROLE_DZIEKANAT')"><a th:href="@{/podanieKierunek.html}">Dodaj nowy</a></button>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>