<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>

    <title>Strona domowa</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('ubezpieczeniaList')"/>


<div id="main" class="card-body">

    <span th:if="${test}==2"> <H1>LISTA UBEZPIECZEŃ</H1></span>
    <span th:if="${test}==1"><H1>Twoje ubezpieczenie to: </H1> <H1 th:text="${twoje}"></H1> <H2 th:text="${cena}"></H2></span>
    <br><table class="table table-striped">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Opcje</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${ubezpieczenia}">

            <div th:if="${u.id}!=4">

            <td th:text="${u.name}"></td>
            <td th:text="${u.price}"></td>
            <td th:if="${test}==2"><a th:if="${u.id}!=4" class="btn btn-success" th:href="@{podanieUbezpieczenieForm.html(id=${u.id})}">Zapisz</a></td>

            </div>


        </tr>

        </tbody>
    </table>

</div>

<div th:replace="shared/footer :: footer"></div>
</body>
</html>