<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Wstawianie oceny</title>
</head>
<body>
<div th:replace="shared/header :: header('wstawianieOceny')"/>


<div class="card-body container">
    <form th:method="POST" th:object="${oceny}" th:action="@{/wstawianieOceny.html}">
        <fieldset>

            <th:block th:each="e : ${#fields.detailedErrors()}">
                <div class="alert alert-danger">
                    <span th:text="${e.global}? '*' : ${e.fieldName}">field</span>
                    <span th:text="${e.message}">text</span>
                </div>
            </th:block>
            <H1>Wstaw ocene</H1>
            <lable class="bmd-label-floating">Imie:</lable>
            <div th:text="${user.name}"></div>
            <hr>
            <lable class="bmd-label-floating">Nazwisko:</lable>
            <div th:text="${user.surname}"></div>
            <hr>
            <lable class="bmd-label-floating">Kierunek:</lable>
            <div th:text="${user.Kierunki.name}"></div>
            <hr>

            <div class="form-group">
                <label for="user" class="bmd-label-floating"></label>
                <input id="user" type="hidden" name="user" th:value="${user.id}"
                          class="form-control" th:classappend="${#fields.hasErrors('user')}?'is-invalid'"
                          required="true"/>
                <div class="error text-danger" th:if="${#fields.hasErrors('user')}">
                    <p th:each="err : ${#fields.errors('user')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="bmd-label-floating">Egzamin:</label>
                <select th:field="*{egzamin.id}" class="form-control"
                        th:classappend="${#fields.hasErrors('egzamin')}?'is-invalid'">
                    <option value="-1">--wybierz egzamin--</option>
                    <option th:each="eg : ${egzamin}"
                            th:value="${eg.id}"
                            th:text=" ${eg.name}"
                    />
                </select>
                <div class="error text-danger" th:if="${#fields.hasErrors('egzamin.id')}">
                    <p th:each="err : ${#fields.errors('egzamin.id')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-group">
                <label for="ocena" class="bmd-label-floating">Ocena:</label>
                <input id="ocena" type="number" step="0.5" min="2" max="5" name="ocena"
                       class="form-control" th:classappend="${#fields.hasErrors('ocena')}?'is-invalid'"
                       required="true"/>
                <div class="error text-danger" th:if="${#fields.hasErrors('ocena')}">
                    <p th:each="err : ${#fields.errors('ocena')}" th:text="${err}"></p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-raised">Zapisz</button>
        </fieldset>
    </form>
</div>

<div th:replace="shared/footer :: footer"></div>
</body>
</html>